body {
  background-color: rgb(179, 179, 179);
}

.navbar,
.tile {
  background: rgba(0, 151, 19, 0);
}

.fas,
.fab {
  color: white;
  font-size: large;
}

.name {
  padding-left: 60px;
}

body {
  color: rgba(0, 0, 0, 0.685);
}
